<section>
    <title>Reset Page</title>
  </section>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href='login'>Question Hub</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li ><a href='login'>Login</a></li>
          <li><a href='aboutPage'>About Us</a></li>
          <li><a href='contactPage'>Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <div class="row">
      
        <div class="col-xl-12">
            <div class="wrapper fadeInDown">
                <div id="formContent">
                <!-- Tabs Titles -->
             
                <form name="form" (ngSubmit)="f.form.valid && resetPassword()"  #f="ngForm" novalidate> 
                   
                     
                  <input type="password" class="fadeIn second" [(ngModel)]="newPassword"
                   #userNumber="ngModel" placeholder="User-Number"
                   [ngClass]="{'is-invalid':f.submitted && userNumber.invalid}" name="userNumber"
                    required minlength="6"/>
                  <div *ngIf="f.submitted && userNumber.invalid" class="invalid-feedback">
                    <div *ngIf="userNumber.errors.required" class="error-message-red">Password is 
                      required</div>
                      <div *ngIf="userNumber.errors.minlength" class="error-message-red">Password must be at least 6 characters</div>
                 
                   </div>

               
                 
                  <input type="password" class="fadeIn second" [(ngModel)]="confirmPassword" #password="ngModel"
                   [ngClass]="{'is-invalid':f.submitted && password.invalid}" name="password" required minlength="6" placeholder="Enter Password"/>
                  <div *ngIf="f.submitted && password.invalid" class="invalid-feedback ">
                    <div *ngIf="password.errors.required" class="error-message-red">Password is required</div>
                    <div *ngIf="password.errors.minlength" class="error-message-red">Password must be at least 6 characters</div>
                  </div>
                 <input type="submit" class="fadeIn fourth" value="Reset"/>
               
              </form>

          
               
          
                </div>
            </div>
            </div>
    </div>
  </div>
  
  <div class="jumbotron text-center" style="margin-bottom:0">
      <p>Website owned & maintained by: Centre for Development of Advanced Computing (C-DAC)</p>
    </div>
  
