<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" [routerLink]="[ 'ModuleContent']">Question Hub</a>

          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li>
                    <a [routerLink]="[ 'askQuestion']">askQuestion</a>
                </li>
              <li> <a [routerLink]="[ 'studentProfile']">profile</a></li>
              <!-- <li><a [routerLink]="[ '/']">Logout</a></li> -->
              <li><a href="#" (click) = 'logout()'>Logout</a></li>

            </ul>
          </div>
        </div>
      </nav>